<div class="container">
    <div class="row">


        <h2>Moje gry</h2>

        <p *ngIf="!myGames"><em>Ładowanie...</em></p>

        <button (click)="create()" class="btn btn-primary">Nowa gra</button>

        <br />

        <table class='table' *ngIf="myGames">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Utworzona</th>
                    <th>Ostatnio używana</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of myGames">
                    <td>{{ game.id }}</td>
                    <td>{{ game.createdOn | date:'medium' }}</td>
                    <td>{{ game.updatedOn | date:'medium' }}</td>
                    <td><button (click)="join(game)" class="btn btn-primary">Dołącz</button></td>
                </tr>
            </tbody>
        </table>

        <h2>Otwarte gry</h2>

        <p *ngIf="!openGames"><em>Ładowanie...</em></p>

        <table class='table' *ngIf="openGames">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Utworzona</th>
                    <th>Ostatnio używana</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of openGames">
                    <td>{{ game.id }}</td>
                    <td>{{ game.createdOn | date:'medium'  }}</td>
                    <td>{{ game.updatedOn | date:'medium' }}</td>
                    <td><button (click)="join(game)" class="btn btn-primary">Dołącz</button></td>
                </tr>
            </tbody>
        </table>

        <button (click)="load()" class="btn btn-primary">Odśwież</button>

    </div>
</div>
