
<div>
  <div #viewport class="viewport">
  </div>
  <div class="controls-panel" [hidden]="!selectedActor">
    <img class="card-display" src="{{selectedActor?.faceUrl}}" alt="{{selectedActor?.name}}" />
    <div [hidden]="!(selectedActor?.isCardStack)">
      <button class="btn" (click)="drawCard()">Wyciągnij kartę</button>
      <button class="btn" (click)="drawCard(false)">Zdejmij kartę</button>
      <button class="btn" (click)="pickCard(content)">Wybierz kartę</button>
    </div>
    <div [hidden]="!(selectedActor?.isCard)">
      <!--<button class="btn" (click)="toggleCovered()">{{selectedActor?.isCovered ? "Odkryj ": "Zakryj " }}kartę</button>-->
      <button class="btn" (click)="disposeCard()">Odłóż kartę</button>
    </div>
  </div>
  <div #eventsPanel class="events-panel">
    <ul>
      <li *ngFor="let message of messages; index as i;">{{message.text}}</li>
    </ul>
  </div>
  <div class="menu-panel">
    <button class="btn" (click)="new()">Nowa gra</button>
    <button class="btn" (click)="save()">Zapisz</button>
    <button class="btn" (click)="load()">Wczytaj</button>
    <button class="btn" (click)="game.dice.throw()">Rzuć kostką</button>
    <span>{{game && game.dice.object3D ? game.dice.result : ""}}</span>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Wybierz kartę</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let card of cardsToPick; index as i;" class="card-picker-box">
      <a href="#" (click)="c(card); false;">
        <img class="card-display" alt="{{card.name}}" src="{{card.contentUrl}}"/>
      </a>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
