$black: black;

.viewport {
    height: 75vh;
    //width: 100vh;
}

.card-display {
    max-width: 100%;
    max-height: 100%;
    margin: 2px;
}

.controls-panel {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 300px;
    z-index: 10;
}

.events-panel {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 300px;
    height: 300px;
    z-index: 10;
}

.menu-panel {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 100px;
    z-index: 10;
}

.card-picker-box {
    width: 150px;
    height: 200px;
    float: left;
    margin: 2px;
    z-index: 10;
}


.events-box {
    color: $black;
    opacity: 0.9;
    overflow: auto;
    height: 270px;
}

.dropdown-toggle::after {
    display: none;
}

