<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
    <div class="logo-containter">
        <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
        <div class="logo" (click)="goToHome()">Magiczny<span> Miecz Online</span></div>
        <div class="logo"><button class="btn btn-danger" (click)="localGame()">Single player (bez logowania)</button></div>
    </div>
    <!--<ngx-theme-switcher></ngx-theme-switcher>-->
</div>

<div class="header-container">
    <nb-actions size="medium"
                [class.right]="position === 'normal'"
                [class.left]="position === 'inverse'">
        <nb-action *ngIf="userLoggedIn()" (click)="logout()" class="control-item" icon="ion-log-out"></nb-action>
        <nb-action>
            <div class="user-name">{{userName()}}</div>
        </nb-action>
    </nb-actions>
</div>
