<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
    <div class="logo-containter">
        <div class="logo" (click)="goToHome()"><a href="#">Magiczny<span> Miecz Online</span></a></div>
        <div class="logo"><button class="btn btn-danger" (click)="localGame()">Single player (bez logowania)</button></div>
        <div class="logo"><a href="#/auth/register" class="btn btn-primary">Rejestracja</a></div>
    </div>
</div>

<div class="header-container">
    <toaster-container></toaster-container>
    <nb-actions size="medium"
                [class.right]="position === 'normal'"
                [class.left]="position === 'inverse'">
        <nb-action *ngIf="userLoggedIn()" (click)="logout()" class="control-item" icon="ion-log-out"></nb-action>
        <nb-action *ngIf="!userLoggedIn()">
            <a title="Logowanie" href="#/auth/login" class="ng-star-inserted"><span class="menu-title">Logowanie</span></a>
        </nb-action>
        <nb-action *ngIf="userLoggedIn()">
            <div class="user-name">{{userName()}}</div>
        </nb-action>
    </nb-actions>
</div>


