<div class="row">

    <nb-card *ngIf="isUserLoggedIn()">
        <nb-card-body>

            <h2>Moje gry <button (click)="create()" class="btn btn-primary">Nowa gra</button></h2>

            <p *ngIf="!myGames"><em>Ładowanie...</em></p>

            <table class='table' *ngIf="myGames">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Host</th>
                        <th>Utworzona</th>
                        <th>Ostatnia aktywność</th>
                        <th>Widoczność</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let game of myGames">
                        <td>{{ game.id }}</td>
                        <td>{{ game.ownerName }}</td>
                        <td>{{ game.createdOn | date:'medium' }}</td>
                        <td>{{ game.updatedOn | date:'medium' }}</td>
                        <td>
                            <select class="form-control" [(ngModel)]="game.visibility" (change)="onItemChange(game)">
                                <option value="{{item}}" *ngFor="let item of itemsList">{{res("game_visibility_" + item)}}</option>
                            </select>
                        </td>
                        <td>
                            <button (click)="join(game)" class="btn btn-primary">Dołącz</button>
                        </td>
                        <td>
                            <button (click)="copyToClp(getGameUrl(game))" class="btn btn-primary">Kopiuj link</button>
                            <!--<div class="sharethis-inline-share-buttons" [attr.data-url]="getGameUrl(game)" data-title="Udostępnij"></div>-->
                        </td>
                        <td>
                            <button (click)="delete(game)" class="btn btn-danger">X</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </nb-card-body>
    </nb-card>
    <nb-card>
        <nb-card-body>

            <h2>Otwarte gry</h2>

            <p *ngIf="!openGames"><em>Ładowanie...</em></p>

            <table class='table' *ngIf="openGames">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Host</th>
                        <th>Utworzona</th>
                        <th>Ostatnia aktywność</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let game of openGames">
                        <td>{{ game.id }}</td>
                        <td>{{ game.ownerName }}</td>
                        <td>{{ game.createdOn | date:'medium' }}</td>
                        <td>{{ game.updatedOn | date:'medium' }}</td>
                        <td><button (click)="join(game)" class="btn btn-primary">Dołącz</button></td>
                        <td>
                            <button (click)="copyToClp(getGameUrl(game))" class="btn btn-primary">Kopiuj link</button>
                            <div class="sharethis-inline-share-buttons" [attr.data-url]="getGameUrl(game)" data-title="Udostępnij"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </nb-card-body>
    </nb-card>
</div>
