<div class="container-fluid">
  <div class="row">
    <div class="col-md-9" #viewport style="height: 800px"></div>
    <div class="col-md-3">
      <ul>
        <li>
          <button class="btn" (click)="new()">Nowa gra</button>
          <button class="btn" (click)="save()">Zapisz</button>
          <button class="btn" (click)="load()">Wczytaj</button>
          <button class="btn" (click)="game.dice.throw()">Rzuć kostką</button>
        </li>
        <li>
          <div [hidden]="!(selectedActor && selectedActor.isCardStack)">
            <button class="btn" (click)="drawCard()" >Wyciągnij kartę</button>
            <ul>
              <li>Kart na stosie: {{selectedActor && selectedActor.cards ? selectedActor.cards.length : ""}}</li>
              <li>Kart na stole: {{selectedActor && selectedActor.drawnCards ? selectedActor.drawnCards.length : ""}}</li>
              <li>Kart na odłożonych: {{selectedActor && selectedActor.disposedCards ? selectedActor.disposedCards.length : ""}}</li>
            </ul>
          </div>
          <div [hidden]="!(selectedActor && selectedActor.isCard)">
            <button class="btn" (click)="disposeCard()" >Odłóż kartę</button>
          </div>
        </li>
        <li>
          <span>{{selectedActor ? selectedActor.name : '' }}</span>
          <img style="max-width: 200px" src="{{selectedActor ? selectedActor.faceUrl : '' }}"/>
        </li>
      </ul>
    </div>
  </div>
</div>
