//colors
$color_wild_sand_approx: #f5f5f5;
$black: black;

html {
}

body {
    display: flex;
    align-items: center;
    background-color: $color_wild_sand_approx;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;

    .checkbox {
        font-weight: 400;
    }

    .form-control {
        position: relative;
        //Instead of the line below you could use @include box-sizing($bs) box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;

        &:focus {
            z-index: 2;
        }
    }

    input[type="email"] {
        margin-bottom: -1px;
        //Instead of the line below you could use @include border-bottom-right-radius($radius) border-bottom-right-radius: 0;
        //Instead of the line below you could use @include border-bottom-left-radius($radius) border-bottom-left-radius: 0;
    }

    input[type="password"] {
        margin-bottom: 10px;
        //Instead of the line below you could use @include border-top-left-radius($radius) border-top-left-radius: 0;
        //Instead of the line below you could use @include border-top-right-radius($radius) border-top-right-radius: 0;
    }
}

.local-game-box {
    width: 200px;
    height: 300px;
}

.viewport {
    height: 99vh;
    width: 200vh;
}

.card-display {
    max-width: 100%;
    max-height: 100%;
    margin: 2px;
}

.controls-panel {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 200px;
    height: 300px;
}

.events-panel {
    position: absolute;
    bottom: 40px;
    left: 20px;
    width: 300px;
    height: 300px;
}

.events-box {
    color: $black;
    opacity: 0.9;
    overflow: auto;
    height: 270px;
}

.dropdown-toggle::after {
    display: none;
}

.menu-panel {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 100px;
}

.card-picker-box {
    width: 150px;
    height: 200px;
    float: left;
    margin: 2px;
}
