/* You can add global styles to this file, and also import other style files */


.row {
  background: lightsteelblue;
}

.viewport {
  height: 99vh; width: 200vh /*?*/
}

.card-display {
  max-width:100%;
  max-height:100%;
  margin: 2px;
}

.controls-panel {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 200px;
  height: 300px;
}


.events-panel {
  color: gold;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 200px;
  height: 300px;
  /*border: 3px solid #73AD21;*/
}

.menu-panel {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 100px;
  /*border: 3px solid #73AD21;*/
}

.card-picker-box {
  width: 150px;
  height: 200px;
  float: left;
  margin: 2px;
}
