//colors
$color_tundora_approx: #444;
$color_steel_blue_approx: #4189c7;
$white: white;

li {
    .glyphicon {
        margin-right: 10px;
    }

    &.link-active a {
        background-color: $color_steel_blue_approx;
        color: $white;

        &:hover {
            background-color: $color_steel_blue_approx;
            color: $white;
        }

        &:focus {
            background-color: $color_steel_blue_approx;
            color: $white;
        }
    }
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media(min-width: 768px) {
    .main-nav {
        height: 100%;
        width: calc(15% - 20px);
    }

    .navbar {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
        border-width: 0;
        height: 100%;

        ul {
            float: none;
        }

        li {
            float: none;
            font-size: 15px;
            margin: 6px;

            a {
                padding: 10px 16px;
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 4px;
            }
        }

        a {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .navbar-header {
        float: none;
    }

    .navbar-collapse {
        border-top: 1px solid $color_tundora_approx;
        padding: 0;
    }
}
