<nb-auth-block>
    <h2 class="title">Rejestracja</h2>
    <form (ngSubmit)="register()" #form="ngForm">

        <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted"
             class="alert alert-danger" role="alert">
            <div><strong>O kurczaki!</strong></div>
            <div *ngFor="let error of errors">{{ error }}</div>
        </div>
        <div *ngIf="showMessages.success && messages && messages.length > 0 && !submitted"
             class="alert alert-success" role="alert">
            <div><strong>Huraa!</strong></div>
            <div *ngFor="let message of messages">{{ message }}</div>
        </div>

        <div class="form-group">
            <label for="input-name" class="sr-only">Xywka</label>
            <input name="fullName" [(ngModel)]="user.fullName" id="input-name" #fullName="ngModel"
                   class="form-control" placeholder="Xywka"
                   [class.form-control-danger]="fullName.invalid && fullName.touched"
                   [required]="getConfigValue('forms.validation.fullName.required')"
                   [minlength]="getConfigValue('forms.validation.fullName.minLength')"
                   [maxlength]="getConfigValue('forms.validation.fullName.maxLength')"
                   autofocus>
            <small class="form-text error" *ngIf="fullName.invalid && fullName.touched && fullName.errors?.required">
                Pole wymagane
            </small>
            <small class="form-text error"
                   *ngIf="fullName.invalid && fullName.touched && (fullName.errors?.minlength || fullName.errors?.maxlength)">
                Pole powinno mieć
                między {{getConfigValue('forms.validation.fullName.minLength')}}
                a {{getConfigValue('forms.validation.fullName.maxLength')}}
                znaków
            </small>
        </div>

        <div class="form-group">
            <label for="input-email" class="sr-only">Email</label>
            <input name="email" [(ngModel)]="user.email" id="input-email" #email="ngModel"
                   class="form-control" placeholder="Email" pattern=".+@.+\..+"
                   [class.form-control-danger]="email.invalid && email.touched"
                   [required]="getConfigValue('forms.validation.email.required')">
            <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
                Pole wymagane
            </small>
            <small class="form-text error"
                   *ngIf="email.invalid && email.touched && email.errors?.pattern">
                Niepoprawny format
            </small>
        </div>

        <div class="form-group">
            <label for="input-password" class="sr-only">Hasło</label>
            <input name="password" [(ngModel)]="user.password" type="password" id="input-password"
                   class="form-control" placeholder="Hasło" #password="ngModel"
                   [class.form-control-danger]="password.invalid && password.touched"
                   [required]="getConfigValue('forms.validation.password.required')"
                   [minlength]="getConfigValue('forms.validation.password.minLength')"
                   [maxlength]="getConfigValue('forms.validation.password.maxLength')">
            <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">
                Pole wymagane
            </small>
            <small class="form-text error"
                   *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
                Pole powinno mieć
                między {{getConfigValue('forms.validation.password.minLength')}}
                a {{getConfigValue('forms.validation.password.maxLength')}}
                znaków
            </small>
        </div>

        <div class="form-group">
            <label for="input-re-password" class="sr-only">Powtórz hasło</label>
            <input name="rePass" [(ngModel)]="user.confirmPassword" type="password" id="input-re-password"
                   class="form-control" placeholder="Powtórz hasło" #rePass="ngModel"
                   [class.form-control-danger]="(rePass.invalid || password.value != rePass.value) && rePass.touched"
                   [required]="getConfigValue('forms.validation.password.required')">
            <small class="form-text error"
                   *ngIf="rePass.invalid && rePass.touched && rePass.errors?.required">
                Pole wymagane
            </small>
            <small class="form-text error"
                   *ngIf="rePass.touched && password.value != rePass.value && !rePass.errors?.required">
                Hasła nie zgadzają się
            </small>
        </div>

        <div class="form-group accept-group col-sm-12" *ngIf="getConfigValue('forms.register.terms')">
            <nb-checkbox name="terms" [(ngModel)]="user.terms" [required]="getConfigValue('forms.register.terms')">
                Zgadzam się z<a href="#" target="_blank"><strong>warunkami korzystania</strong></a>
            </nb-checkbox>
        </div>

        <button [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success"
                [class.btn-pulse]="submitted">
            Rejestracja
        </button>
    </form>

    <div class="links">

        <ng-container *ngIf="socialLinks && socialLinks.length > 0">
            <small class="form-text">Or connect with:</small>

            <div class="socials">
                <ng-container *ngFor="let socialLink of socialLinks">
                    <a *ngIf="socialLink.link"
                       [routerLink]="socialLink.link"
                       [attr.target]="socialLink.target"
                       [attr.class]="socialLink.icon"
                       [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
                    <a *ngIf="socialLink.url"
                       [attr.href]="socialLink.url"
                       [attr.target]="socialLink.target"
                       [attr.class]="socialLink.icon"
                       [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
                </ng-container>
            </div>
        </ng-container>

        <small class="form-text">
            Masz już konto? <a routerLink="../login" [queryParams]="{returnUrl: returnUrl}"><strong>Zaloguj się</strong></a>
        </small>
    </div>
</nb-auth-block>
